<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="APIUrl" value="http://localhost:49425/api" />
    <add key="SiteUrl" value="http://localhost:49572" />
  </appSettings>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>