@*<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/flick/jquery-ui.css">*@

@model AnimalStore.Web.ViewModels.SearchViewModel

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
<div id="tabs">
    <ul>
        <li><a href="#fragment-1"><span>Dogs</span></a></li>
        <li><a href="#fragment-2"><span>Services</span></a></li>
        <li><a href="#fragment-3"><span>Breeders</span></a></li>
    </ul>
    <div id="fragment-1">
        @using (Html.BeginForm("DogSearch", "Search", Model, FormMethod.Get))
        {
            <h5>Find Pets</h5>
            <p>Search through thousands of adverts for dogs and puppies for sale in the UK.</p> 
            <table>
                <tr>
                    <td>Breed: </td>
                    <td>@Html.DropDownListFor(x => x.SelectedBreed,
                                               Model.BreedsSelectList,
                                               "Select a breed to search for"
                                               ))

                    </td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>@Html.TextBoxFor(x => x.Location)</td>
                </tr>
                <tr><td colspan="2"><input type="submit" name="submit" id="search" value="Go" /></td></tr>
            </table>    
        }
    </div>
    <div id="fragment-2">
        <h5>Find Services</h5>
        Select service-type and area/postcode
    </div>
    <div id="fragment-3">
        <h5>Find Breeders</h5>
        Select breed type and area/postcode.
    </div>
</div>
<script type="text/javascript">
    $("#tabs").tabs();
</script>