@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">Oops, unfortunately an error occurred while processing your request. Please use the back button on your browser to return.</h2>
</hgroup>
