<log4net>
  
  <appender name="EventLogAppender.AnimalStore" type="log4net.Appender.EventLogAppender" >
    <logName value="AnimalStore.Events" />
    <applicationName value="AnimalStore" />
    <layout type="log4net.Layout.SimpleLayout" />
    <threshold value="INFO" />
  </appender>
  
  <logger name="AnimalStoreLogger" additivity="false" type="log4net.Appender.EventLogAppender">
    <appender-ref ref="EventLogAppender.AnimalStore" />
  </logger>
  
  <root>
    <level value="ALL" />
  </root>
</log4net>
